.container {
    display: flex;
    flex-direction: column;
}

.imageContainer {
    width: 100%;
    object-fit: contain;
    margin-bottom: 50px;
}

.image {
    width: 100%;
}

.articleText {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    font-size: 88px;
    line-height: 88px;
    text-align: start;
    width: 500px;
}

.rightText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.description {
    font-size: 23px;
    line-height: 24px;
    text-align: start;
    margin-bottom: 20px;
}

.btn {
    width: fit-content;
    background-color: rgb(255, 71, 71);
    border: none;
    color: white;
    font-size: 24px;
    padding: 20px 60px;
}

.btn:hover {
    cursor: pointer;
    background-color: black;
}

@media screen and (max-width: 768px) {
    .imageContainer {
        max-width: 100%;
    }

    .image {
        max-width: 100%;
    }

    .articleText {
        flex-direction: column;
    }

    .title {
        font-size: 40px;
        line-height: 40px;
        width: 100%;
    }
}