@import "../../variables.scss";

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;
    width: 100%;
    padding: 0 16px;

    @media screen and (min-width: $tablet) {
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        max-width: 1110px;
        margin: 0 auto;
        padding: 0;
    }
}